/* * {
    border: solid 1px red;
} */

body {
    background-image: url('sportsbackground.jpeg');
    background-color: #ccf7ff;
    background-repeat: repeat;
    background-size: cover;

}

img {
    opacity: 0.5;
}

.title {
    text-align: center;
    color: white;
}

.cardTerm {
    font-size: x-large;
    width: 50%;
    border: solid 4px blue;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    background-color: white;
    display: block;
    margin-top: 150px;
}

.cardDefinition {
    font-size: x-large;
    width: 50%;
    border: solid 4px blue;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    background-color: white;
    display: none;
    margin-top: 100px;
}

.buttonContainer {
    text-align: center;
}

button {
    padding: 15px;
    border-radius: 10px;
}

.flipCard {
    background-color: rgb(57, 16, 221);
    color: white;
}

button:hover {
    transform: scale(1.1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}